<div class="center">
    <%= image_tag 'books.jpg',width: 200,height:200 %>
    <h4>Welcome to Happy Reads</h4>
    <a href="/auth/google_oauth2" class="btn btn-primary btn-default">Sign in with Google</a>
</div>
