<h4>Profile</h4>

<br/>


<aside class="cols-xs-4">
    <section>
      <div><b>User Name: </b><%= current_user.name %></div>
      <br/>
      <div><b>Email: </b> <%= current_user.email %></div>
    </section>
</aside>
